.bio-content {
    text-align: justify; /* Membuat teks rata kanan-kiri */
}

.bio-content ul {
    list-style: none; /* Menghilangkan titik bullet pada daftar */
    padding-left: 0; /* Menghapus padding default pada list */
}
.bio-content {
    text-align: justify; /* Membuat teks rata kanan-kiri */
}

.bio-content ul {
    list-style: none; /* Menghilangkan titik bullet pada daftar */
    padding-left: 0; /* Menghapus padding default pada list */
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: gray;
    margin: 0 10px;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

::-webkit-scrollbar {
    display: none;
}


